version: '3.8'

services:
  inventory-service:
    build:
      context: .
      dockerfile: src/InventoryService.Api/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development

  order-service:
    build:
      context: .
      dockerfile: src/OrderService.Api/Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - Services__InventoryUrl=http://inventory-service:8080

  order-web:
    build:
      context: .
      dockerfile: src/OrderWeb.Mvc/Dockerfile
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - Services__OrderServiceUrl=http://order-service:8080
      - Services__InventoryServiceUrl=http://inventory-service:8080
